body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}

.control {
    background-color: #232b2b;
    width: 75px;
    height: 100%;
}

.index {
    background-color: #E0E0E0;
    width: 20%;
    height: 100%;
}

.indexctrl {
    height: 45px;
    margin: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1px #DADADA;
}

.indexctrl input[type=text] {
    width: 80%;
}

.index a {
    display: block;
    margin: 5px;
    height: 60px;
    text-decoration: none;
    border-bottom: solid 1px #DADADA;
}

.index a img {
    height: 50px;
    width: 50px;
    float: left;
    padding-right: 10px;
    border-bottom: solid 1px #E9E9E9;
}

body article {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    background-color: #F5F5F5;
}

.chat-header {
    height: 50px;
    line-height: 50px;
    margin: 1px;
    flex: initial;
    border-bottom: solid 1px #E1E1E1;
}

.chat-header h2 {
    text-align: right;
    display: inline;
    vertical-align: top;
}

.chat-header span {
    vertical-align: middle;
}

.chat {
    flex-grow: 2;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    overflow-y: auto;
}

.me, .other {
    clear: both;
    margin-bottom: 12px;
    padding-bottom: 2px;
}

.me img, .other img {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.me div, .other div {
    display: block;
    vertical-align: top;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.me {
    width: 60%;
    margin-left: 40%;
    text-align: right;
}

.me div {
    margin-right: 55px;
}

.me div span {
    display: inline-block;
    padding: 6px;
    background-color: #5CCDE5;
}

.me img {
    display: block;
    margin-left: 6px;
    vertical-align: top;
    float: right;
}

.other {
    width: 90%;
}

.other div {
    width: 70%;
    display: inline-block;
}

.other div span {
    margin-left: 6px;
    display: inline-block;
    padding: 6px;
    background-color: #FCFCFC;
}

.other {
    text-align: left;
}


.chat-time {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chat-time span {
    background-color: #E0E0E0;
    padding: 6px;
    font-size: small;
}


.entry {
    height: 200px;
    flex: initial;
    flex-direction: column;
    display: flex;
    background-color: White;
}

div.emoticons {
    transition: height 0.5s ease-out;
    height: 26px;
    background-color: White;
    overflow: auto;
    margin: 0px;
    margin-right: 0px;
    padding: 2px;
}

.hidden {
    height: 0px !important;
}

.entry-control {
    height: 26px;
    flex: initial;
}

.entry-control button {
    height: 24px;
    margin-top: 1px;
    vertical-align: bottom;
}

.entry div.entrytext {
    margin: 10px;
    flex: 1;
}

.entry div textarea {
    width: 100%;
    background-color: White;
    border: none;
    outline:none !important;
}

.entry div textarea:focus {
    outline:none !important;
}

